
// ===========================================
// Projects
// ===========================================

// Cards
// ===========================================

/* Structure
-------------------------------*/
.card-deck-wrapper {
  margin-top: 50px;
  max-width: 1200px;
}

.card {
  max-width: 500px;
  margin: 2.25rem auto;
}

// empty placeholder
.card.invisible {
  visibility: hidden !important;
}

.card-link {
  display: inline-block;
  padding: 2.5px 0;
}
@media (min-width: 800px) and (max-width: 1024px) {

  .card-link {
    display: block;
    margin: 5px 0;
  }

  .card-link + .card-link {
    margin: 0;
  }

}


/* Font
-------------------------------*/
.card-title {
  font-size: 25px;
}

.card-subtitle {
  font-size: 14px;
}

.card-text {
  font-size: 18px;
}

.card-link {
  font-weight: bold;
  font-size: 16px;
}


/* Color
-------------------------------*/
.card {
  background: $white;
  border-color: rgba(black, 0.2);
}

.card-header {
  background: color-shade(white, dark);
}

.card-title {
  color: color-shade(grey, xx-dark);
}

.card-subtitle {
  color: color-shade(grey);
}


/* Effects
-------------------------------*/

// siblings fade on hover
@media (min-width: 1025px) {

  // prevent :hover from triggering in gaps
  .card-deck-wrapper {
    visibility: hidden;
  }

  // make cards visible
  .card-deck-wrapper .card {
    visibility: visible;
    transition: opacity 0.2s ease-in-out 0.1s;
  }

  .card-deck-wrapper:hover .card {
    opacity: 0.5;
  }

  .card-deck-wrapper:hover .card:hover {
    opacity: 1;
  }

}



// Img Placeholder
// ===========================================

/* Structure
-------------------------------*/
.img-placeholder {
  position: relative;
  width: 100%;
}

// maintain aspect ratio
.img-placeholder::before {
  content: "";
  float: left;
  padding-bottom: 61.667%;
}

// clearfix
.img-placeholder::after {
  content: "";
  display: table;
  clear: both;
}

// absolute center icon
.img-placeholder .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}


/* Color
-------------------------------*/
.img-placeholder {
  background: rgba($black, 0.02);
}


.img-placeholder .fa {
  color: rgba($black, 0.3);
}


/* Font
-------------------------------*/
.img-placeholder .fa {
  font-size: 25vw;
}

@media (min-width: 800px) { 
  .img-placeholder .fa {
    font-size: 8vw;
  }
}

@media (min-width: 1200px) {
  .img-placeholder .fa {
    font-size: 100px;
  }
}








